{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <h1 class="namegr">{{ group_name }}</h1>

        {% if students %}

            <div class="ramka-1">
                <ol class="list_students">
                    {% for student in students %}
                        <li class="student-item">
                            {{ loop.index }}.
                            <span class="student-name">
                                {{ student.surename }} {{ student.name }} {{ student.middle_name }}
                            </span>
<!--                            <p>id студента {{student.id}}</p>-->
                            <input type="checkbox" name="option1" class="student-checkbox">
                        </li>
                        <hr class="hli">
                    {% endfor %}
                </ol>
            </div>
            <div class="button-container">
                <a href="/data-students/{{group.id}}" class="btn btn-primary group_box">Далее</a>
            </div>
        {% else %}
            <div class="ramka-1" style="text-align: center; padding: 20px;">
                <p style="font-size: 20px; color: #5D5C60;">В этой группе нет студентов</p>
            </div>
        {% endif %}
    </div>

</body>
{% endblock %}